.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.movieCard {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    justify-content: center;
    margin: 1rem;
    padding-bottom: .5rem;
    width: 200px;
    /* border: 2px solid pink; */
    box-shadow: 5px 5px 3px 2px #222;
}
/* .movieCard:hover{
    width: 600px;
} */

h3 {
    font-family: Roboto;
    font-weight: 400;
}
.navBar{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    /* padding: 2rem 0; */
    min-height: 60px;
}
.navElement {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
}