.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.movieCard {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    justify-content: center;
    margin: 1rem;
    padding-bottom: 1rem;
    width: 200px;
    /* border: 2px solid pink; */
    box-shadow: 5px 5px 3px 2px #222;
}
.movieCard:hover{
    width: 202px;
}
.detailsPage{
    padding:1.5rem;
}
h3 {
    font-family: Roboto;
    font-weight: 300;
}
em{
    font-weight: 100;
    color: rgba(128, 128, 128, 0.605);
}
.editIcon{
    margin-right:18px;
}
.fade-enter {
    opacity: 0;
    z-index: 1;
  }
  .fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
/* .navBar{
    display: flex;
    flex-direction: row;
    align-items: center;
   
    min-height: 60px;
}
.navElement {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
} */
