.gallery {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.movieCard {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    justify-content: center;
    margin: 1rem;
    padding-bottom: 1rem;
    width: 200px;
    /* border: 2px solid pink; */
    box-shadow: 5px 5px 3px 2px #222;
}
.movieCard:hover{
    width: 202px;
}
.detailsPage{
    padding:1.5rem;
}
h3 {
    font-family: Roboto;
    font-weight: 300;
}
em{
    font-weight: 100;
    color: rgba(128, 128, 128, 0.605);
}
.editIcon{
    margin-right:18px;
}
/* .navBar{
    display: flex;
    flex-direction: row;
    align-items: center;
   
    min-height: 60px;
}
.navElement {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
} */
.fade-appear,
.fade-enter {
    opacity: 0;
    z-index: 1;
}
.fade-appear-active,
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms linear 150ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 150ms linear;
}

.page {
    position: absolute;

    left: 0;
    right: 0;
}
  /* .example-enter {
    opacity: 0.01;
  }
  
  .example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
  }
  
  .example-leave {
    opacity: 1;
  }
  
  .example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  } */